.ContentSection {
  position: relative;
  width: 100%;
  max-width: 50rem;
}
.ContentSection h3 {
  font-family: "Aboreto", sans-serif;
  font-weight: 600;
  font-size: 8vh;
  margin: 8vh 0 6vh;
}
.ContentSection p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  color: rgb(218, 218, 218);
  margin-bottom: 4vh;
}
.ContentSection .Image{
  position: relative;
  height: 30rem;
  width: 100%;
  overflow: hidden;
  margin: 4vh 0;
  transition: .2s;
}
@media all and (max-width: 700px) {
  .ContentSection h3{
    padding: 1vh 0;
    font-size: 3vh;
    margin: 4vh 0 3vh;
    position: sticky;
    top: 3.5rem;
    left: 2rem;
    background-color: var(--bg_color);
  }
  .ContentSection p{
    font-size: 1rem;
    margin-bottom: 2vh;
  }
}