.Preloader {
  --h3_animation_delay: 1.5s;
  --h2_animation_delay: 0.5s;
  --h2_animation_time: 1s;
  --bg_animation_delay: 3s;
  --bg_animation_time: .5s;

  height: 100vh;
  width: 100vw;
  background-color: #fff;
  color: black;
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  animation: PreloaderAnimation var(--bg_animation_time) ease-in-out forwards;
  animation-delay: var(--bg_animation_delay);
}
@keyframes PreloaderAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.25);
    opacity: 0;
  }
}
/* @keyframes PreloaderAnimation {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  20% {
    clip-path: polygon(0 0, 90% 10%, 100% 100%, 10% 90%);
  }
  40% {
    clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);
  }
  100% {
    clip-path: polygon(50% 10%, 50% 10%, 50% 90%, 50% 90%);
  }
} */
.Preloader h2{
  animation: h2animation var(--h2_animation_time) ease-out forwards;
  animation-delay: var(--h2_animation_delay);
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Aboreto", sans-serif;
  opacity: 0;
}
.Preloader h3{
  animation: h2animation var(--h2_animation_time) ease-out forwards;
  animation-delay: var(--h3_animation_delay);
  opacity: 0;
  font-size: 1.6vmax;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}
@keyframes h2animation {
  0%{
    transform: translateY(150%);
    opacity: 0;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}