.Footer {
  height: 40vh;
  width: 100vw;
  background-color: #fff;
  background-image: url(../../assets//whiteBG.jpg);
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  flex-direction: column;
}
.Footer span {
  height: 5rem;
  width: 5rem;
  background-color: var(--bg_color);

  position: absolute;
  left: 50%;
  top: -1%;
  transform: translateX(-50%);
  clip-path: polygon(100% 0, 0 0, 50% 50%);
}
.Footer div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;

  gap: 1.4vh;
}
.Footer h2{
  font-size: 2rem;
  font-family: "Aboreto", sans-serif;
  margin-bottom: 1vh;
  text-align: center;
}
.Footer h4{
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid grey;
  text-align: center;
}
.Footer h4::after{
content: '';
width: 0;
height: 1.2px;
background-color: #000;
position: absolute;
top: 100%;
left: 50%;
transform: translateX(-50%);
transition: .35s;

}
.Footer h4:hover:after{
width: 100%;
}
.Footer section {
  min-height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  background-color: rgb(242, 169, 0);
  color: rgb(255, 255, 255);
  font-size: 2.2vh;
  font-weight: 400;
  /* font-family: "Cinzel", serif; */
  
  font-family: "Montserrat", sans-serif;
}
