.Dropdown {
  position: relative;
  height: 2rem;
  background-color: rgb(255, 216, 41);
  display: flex;
  cursor: pointer;
}
.Dropdown > text {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
    font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 0.4rem;
}
.OptionContainer {
  top: 100%;
  left: 0;
  width: 100%;
  height: max-content;
  max-height: 10rem;

  background-color: rgb(238, 238, 238);
  color: black;
  position: absolute;
  z-index: 12;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow:
  0px 1.6px 2.2px rgba(0, 0, 0, 0),
  0px 3.9px 5.3px rgba(0, 0, 0, 0.003),
  0px 7.3px 10px rgba(0, 0, 0, 0.01),
  0px 13px 17.9px rgba(0, 0, 0, 0.018),
  0px 24.2px 33.4px rgba(0, 0, 0, 0.03),
  0px 58px 80px rgba(0, 0, 0, 0.05)
;

}
.Option {
  width: 100%;
  border-bottom: 1px solid grey;
  font-size: 1rem;
  padding: 0.4rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.Option:hover {
  background-color: #fff;
}
