/* <-------- Css variables --------> */
:root {
  --bg_color: rgb(19, 20, 21);
  --text_color: rgb(255, 255, 255);
}

/* <-------- External Fonts --------> */
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
/* <-------- Basic project styling --------> */
html,
body {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden auto;
  background-color: var(--bg_color);
  color: var(--text_color);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, serif;
}

/* <-------- Utility classes --------> */
