.HomePage {
  min-height: 100vh;
  width: 100vw;
  position: relative;
}
.HomepageContainer {
  min-height: 100vh;
  width: 100vw;
  display: flex;
}
.HomeContent {
  flex: 1;
  padding: 4vmin;

  display: flex;
  align-items: flex-start;

  flex-direction: column;
}
